body, body * {
    font-family: 'IBM Plex Mono', monospace;
}

.button {
    text-transform: capitalize;
}

input {
    border-color: #3e4657 !important;
}

.has-icons-right i {
    color: #3e4657 !important;
}