body, body * {
    font-family: 'IBM Plex Mono', monospace;
}

.button {
    text-transform: capitalize;
}

input {
    border-color: #3e4657 !important;
}

.has-icons-right i {
    color: #3e4657 !important;
}

.pointer {
    cursor: pointer;
}

.tag-normal {
    width: 70px !important;
}

.tag-small {
    width: 50px !important;
}

.breadcrumb li a, .breadcrumb *::before {
    color: #3e4657 !important;
}

.breadcrumb li a:hover {
    color: #76b6c9 !important;
}

.breadcrumb li a {
    text-transform: capitalize;
}
